<p id="notice"><%= notice %></p>
<!-- <img src="/assets/rails.png" alt="rails" /> -->
<!-- <%= image_tag 'rails.png' %> -->
<h1>My To Do List</h1>

<table id="to-do-table" class="table">
  <thead>
    <tr>
      <th>Tasks</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    
    <% @todo_items.each do |todo_item| %>
      <tr>
        <td><%= todo_item.description %></td>
        <td><%= link_to '<i class="fa fa-eye" aria-hidden="true"></i>'.html_safe, todo_item, class: "button" %></td>
        <td><%= link_to '<i class="fa fa-pencil" aria-hidden="true"></i>
'.html_safe, edit_todo_item_path(todo_item),  class: "button" %></td>
        <td><%= link_to '<i class="fa fa-square-o" aria-hidden="true"></i>'.html_safe, todo_item, method: :delete, data: { confirm: 'Are you sure?' }, class: "button" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<div class="container-fluid" id="add-item">
  <%= link_to 'Add New', new_todo_item_path, class: "new-item btn btn-primary" %>
</div>
